.botao-flutuante {
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 4;
    }
.acordion1 {
    background-color: bisque;
}
.testimonials {
    height: 300px;
    ;
}
.max-wi {
    max-width: 100% !important;
}